* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 65vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 27vh;
  width: 27%;
  background-color: aliceblue;
}
button{
  background-color: hotpink;
  color: red;
  height:10.5vh;
  width: 100%;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Bradley Hand ITC" , Arial, Helvetica, sans-serif;
}
#num_try{
  height: 7.5vh;
  font-family: "Bradley Hand ITC", Arial, Helvetica, sans-serif;
  background-color: #ff0025;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}